body {
  background: #c7d408;
}

body, div {
  display: flex;
  font-family: 'Courier', sans-serif;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main {
  /* align-items: center; */
  margin-top: 6rem;
  /* height: 100vh; */
  padding: .25rem;
  width: 100vw;
}
.hello {
  display: block;
  text-align: center;
}